<div class="z-depth-4 white card-panel" style="padding:20px; border-radius:10px;">
  <div style="padding:10px;">

      <h2>New post</h2>

<%= render "form.html", changeset: @changeset,
                        action: post_path(@conn, :create) %>

<span><%= link "Back", to: post_path(@conn, :index) %></span>

</div>

</div>
