
			<%= form_for @comment_changeset, post_comment_path(@conn, :create, @post), fn f -> %>
		 <div class="row">
			<div class="input-field col s3">
				<%= textarea f, :body, class: "form-control materialize-textarea", id: "comment" %>
				<label style="font-size:20px;" for="body">Comment</label>
				<%= error_tag f, :body %>
			</div>
			<div class="col s6">
			<br/><br/>
			</div>
			<div class="col s4">
			<%= submit "Submit", class: "btn btn-primary" %>
			</div>
		</div>
		<% end %>
